  <div class="p-4 bg-gray-900">
    <!-- Tab Navigation -->
     <div class="flex mb-6">
  <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"
         placeholder="Tìm kiếm theo tên game"
         class="w-full sm:w-1/2 lg:w-1/3 px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200 bg-white"/>
</div>
    <div class="flex space-x-4 mb-6">
      <button *ngFor="let tab of tabTitles" 
              (click)="onTabChange(tab)" 
              [class.bg-gray-700]="selectedTab === tab"
              [class.text-white]="selectedTab === tab"
              class="px-4 py-2 rounded-lg text-gray-400 hover:bg-gray-700 transition duration-300">
        {{ tab }}
      </button>
    </div>

    <!-- Game List -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div *ngFor="let game of listGameOfCategory" class="relative bg-gray-800 rounded-lg overflow-hidden shadow-lg group"  (click)="onGameSelect(game.Id)">
        <!-- Game Image -->
        <img [src]="game.Id" alt="{{ game.CategoryName }}" class="w-full h-56 object-cover transition duration-300 ease-in-out group-hover:opacity-60">

        <!-- Hover Overlay with Details -->
        <div class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out">
          <div class="text-center text-white p-4">
            <h3 class="text-xl font-semibold">{{ game.GameName }}</h3>
            <p class="text-sm mt-2">{{ game.GameName }}</p>
            <div class="mt-4">
              <span class="block">8.5/10</span>
              <span class="block text-sm">{{ game.CreatedAt | date : 'dd/MM/yyyy' }}</span>
              <!-- <span class="block text-lg font-bold mt-2">{{ game.Price | number }} VND</span> -->
            </div>
          </div>
        </div>

        <!-- Bottom Game Info -->
        <div class="p-4">
          <h3 class="text-lg font-semibold text-white">{{ game.GameName }}</h3>
          <!-- <p class="text-gray-400 text-sm">{{ game.Price | number }} VND</p> -->
        </div>
      </div>
    </div>
  </div>
