<div class="p-6 w-full mx-auto bg-white/90 shadow-2xl rounded-3xl backdrop-blur-md" style="background: linear-gradient(to bottom, #3d224a, #1b2838 500px);">
  <!-- Transaction Request Table -->
  <div class="mb-6">
    <h2 class="text-3xl font-bold text-gray-400 mb-4">Danh sách yêu cầu nạp/rút tiền</h2>
      <button (click)="openModal()" class="px-6 py-3 bg-gradient-to-r from-blue-500 to-blue-700 text-white font-semibold rounded-full shadow-lg transform hover:scale-105 transition duration-300 ease-in-out" style="margin-bottom: 20px;">
    Nạp/Rút tiền
  </button>
    <table  class="min-w-full bg-white border border-gray-200 rounded-lg shadow-lg transition-transform transform hover:scale-105" style="background: linear-gradient(to bottom, #3d224a, #1b2838 500px);" >
      <thead class="bg-gray-100 text-gray-700 text-base" style="background: linear-gradient(to bottom, #3d224a, #1b2838 500px);">
        <tr>
          <th class="px-6 py-4 text-left text-sm font-medium text-gray-600" style="color:white"><b>Mã yêu cầu</b></th>
          <th class="px-6 py-4 text-left text-sm font-medium text-gray-600" style="color:white"><b>Số tiền</b></th>
          <th class="px-6 py-4 text-left text-sm font-medium text-gray-600" style="color:white"><b>Loại yêu cầu</b></th>
          <th class="px-6 py-4 text-left text-sm font-medium text-gray-600" style="color:white"><b>Lý do</b></th>
          <th class="px-6 py-4 text-left text-sm font-medium text-gray-600" style="color:white"><b>Trạng thái</b></th>
          <th class="px-6 py-4 text-left text-sm font-medium text-gray-600" style="color:white"><b>Thời gian gửi</b></th>
          <th *ngIf="isAdmin" class="px-6 py-4 text-left text-sm font-medium text-gray-600" style="color:white"><b>Hành động</b></th>

        </tr>
      </thead>
      <tbody class="text-gray-800">
        <tr *ngFor="let request of myWallet" class="border-t border-gray-200 hover:bg-gray-500 transition">
          <td class="px-6 py-4" style="color:wheat">{{ request.Id }}</td>
          <td class="px-6 py-4" style="color:wheat">{{ request.amount | number }} đ</td>
            <td class="px-6 py-4">
          <span [ngClass]="{
            'text-blue-500': request.type === 'DEPOSIT',
            'text-red-500': request.type === 'WITHDRAW'
          }">
            {{ getStatusText(request.type) }}
          </span>
        </td>
          <td class="px-6 py-4" style="color:wheat">{{ request.note }}</td>
          <td class="px-6 py-4">
          <span [ngClass]="{
            'text-red-500': request.Status === 'PENDING',
            'text-blue-500': request.Status === 'Pending',
            'text-green-500': request.Status === 'APPROVED',
            'text-yellow-500': request.Status === 'REJECTED',
          }">
            {{ getStatusText(request.Status) }}
          </span>
        </td>
          <td class="px-6 py-4" style="color:wheat">{{ request.createdAt | date: 'dd/MM/yyyy HH:mm a'}}</td>
          <td class="px-6 py-4 space-x-4" *ngIf="isAdmin">
            <button  class="text-violet-600 hover:underline font-medium cursor-pointer" (click)="onApprove(1,request)">Phê duyệt</button>
            <button class="text-green-600 hover:underline font-medium cursor-pointer" (click)="onApprove(0,request)">Từ chối</button>

          </td>

          

        </tr>
      </tbody>
    </table>
  </div>

  <!-- Button to open modal -->


  <!-- Modal -->
  <div *ngIf="isModalOpen" class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 backdrop-blur-sm z-50">
    <div class="bg-white p-6 rounded-lg shadow-xl w-full max-w-lg transform scale-95 transition-all duration-300 ease-out" style="
    margin-top: 200px;
">
      <h3 class="text-2xl font-bold text-gray-800 mb-4">Thông tin yêu cầu nạp/rút tiền</h3>

      <form (ngSubmit)="submitForm()" #transactionForm="ngForm">
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700" for="amount">Số tiền</label>
          <input type="number" min="0" style="background-color: white; color: black;" id="amount" name="amount" [(ngModel)]="newRequest.amount" required class="w-full px-4 py-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 transition duration-300"/>
        </div>

        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700" for="type">Loại yêu cầu</label>
          <select id="type" name="type" style="background-color: white; color: black;" [(ngModel)]="newRequest.type" required class="w-full px-4 py-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 transition duration-300">
            <option value="DEPOSIT">Nạp tiền</option>
            <option value="WITHDRAW">Rút tiền</option>
          </select>
        </div>

        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700" for="reason">Lý do</label>
          <textarea id="reason" name="reason" style="background-color: white; color: black;" [(ngModel)]="newRequest.reason" required class="w-full px-4 py-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 transition duration-300" rows="3"></textarea>
        </div>

        <div class="flex justify-end">
          <button type="button" (click)="closeModal()" class="mr-2 px-6 py-3 bg-gray-400 text-white rounded-lg hover:bg-gray-500 transition duration-200">Đóng</button>
          <button type="submit" class="px-6 py-3 bg-gradient-to-r from-green-500 to-green-700 text-white font-semibold rounded-lg shadow-lg hover:scale-105 transition duration-300 ease-in-out">Gửi yêu cầu</button>
        </div>
      </form>
    </div>
  </div>
</div>
