/* Add any custom styles here, if needed */

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 110;
  left: 0;
  right: 0;
  bottom: 0;
}
/* TailwindCSS and Custom CSS for Animations */
.modal {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-close {
  animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Custom Modal Animation */
.scale-95 {
  transform: scale(0.95);
}
.scale-100 {
  transform: scale(1);
}

/* Button Hover Effects */
button:hover {
  transform: scale(1.05);
}
