<div class="p-6 max-w-7xl mx-auto bg-white shadow-lg rounded-lg">
  <h1 class="text-3xl font-extrabold text-gray-800 mb-6">Danh Sách Đơn Hàng</h1>

  <!-- Tìm kiếm -->
  <div class="mb-6 flex justify-between items-center">
   <div class="relative w-full max-w-xs">
    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
      <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" stroke-width="2"
           viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 104.5 4.5a7.5 7.5 0 0012.15 12.15z"></path>
      </svg>
    </span>
<!-- <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"
           placeholder="Tìm kiếm theo tên"
           style="background-color: white;color:black"
           class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200 bg-white" /> -->
</div>
    <!-- <button
      class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 cursor-pointer"
      (click)="onNewOrder()"
    >
      Thêm Đơn Hàng
    </button> -->
  </div>

  <!-- Orders Table -->
  <div class="overflow-x-auto rounded-lg shadow-md">
    <table class="min-w-full text-sm text-left text-gray-800">
      <thead class="bg-gray-100 text-gray-700">
        <tr>
          <th class="px-6 py-4">Id</th>
          <!-- <th class="px-6 py-4">Số Lượng</th> -->
          <th class="px-6 py-4">Ngày Bán</th>
          <th class="px-6 py-4">Giá</th>
              <th class="px-6 py-4">Trạng thái</th>
          <th class="px-6 py-4">Email người Mua</th>
          <th class="px-6 py-4">Hành Động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of filteredOrders" class="border-b hover:bg-gray-50">
          <td class="px-6 py-4">{{ order.Id }}</td>
          <td class="px-6 py-4">{{ order.OrderDate | date: 'dd/MM/yyyy hh:mm a'}}</td>
          <td class="px-6 py-4">{{ order.TotalAmount | number}}</td>
    <td class="px-6 py-4">
                <span class="font-medium text-green-500" *ngIf="order.Status === 'Pending'">Chờ thanh toán</span>
                <span class="font-medium text-red-500" *ngIf="order.Status === 'COMPLETED'">Thành công</span>
                <span class="font-medium text-red-500" *ngIf="order.Status === 'Success'">Thành công</span>
                <span class="font-medium text-red-500" *ngIf="order.Status === 'FAILED'">Thất bại</span>
                <span class="font-medium text-red-500" *ngIf="order.Status === 'Refunded'">Đã hoàn tiền</span>
                <span class="font-medium text-red-500" *ngIf="order.Status === 'Rejected'">Yêu cầu hoàn tiền bị từ chối</span>

                <span class="font-medium text-red-500" *ngIf="order.Status === 'await'">Chờ hoàn tiền</span>

              </td>

          <td class="px-6 py-4">{{ order.Email }}</td>
          <td class="px-6 py-4">
            <button class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600 cursor-pointer"
                    (click)="onViewOrder(order.Id)">
              Xem
            </button>
            <!-- <button class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 cursor-pointer"
                    (click)="onDeleteOrder(order.Id)">
              Xóa
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="flex justify-center mt-6">
    <button 
      class="bg-gray-500 text-white px-4 py-2 rounded-l-md hover:bg-gray-600"
      [disabled]="currentPage === 1"
      (click)="changePage(currentPage - 1)">Trước</button>
    
    <span class="px-4 py-2 text-black">Trang {{ currentPage }} / {{ totalPages }}</span>

    <button 
      class="bg-gray-500 text-white px-4 py-2 rounded-r-md hover:bg-gray-600"
      [disabled]="currentPage === totalPages"
      (click)="changePage(currentPage + 1)">Sau</button>
  </div>
</div>
