<form class="my-10 space-y-6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="text-center">
    <h2 class="text-foreground mb-1 text-3xl font-semibold">Đăng ký <span class="text-primary">!</span></h2>
  </div>

  <div routerLink="/dashboard">
    <app-button full impact="bold" tone="light" shape="rounded" size="medium">
      <svg-icon src="assets/icons/google-logo.svg" [svgClass]="'h-6 w-6 mr-2'"> </svg-icon>
      Đăng nhập bằng Google
    </app-button>
  </div>

  <div
    class="before:border-muted after:border-muted my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t after:mt-0.5 after:flex-1 after:border-t">
    <p class="text-muted-foreground mx-4 mb-0 text-center text-sm">hoặc</p>
  </div>

  <div class="space-y-3 text-left">
    <div class="relative">
      <input type="text" id="username" formControlName="username" class="peer block" placeholder=" " />
      <label
        for="username"
        class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">
        Tên tài khoản
      </label>
    </div>
    <div class="relative">
      <input type="text" id="email" formControlName="email" class="peer block" placeholder=" " />
      <label
        for="email"
        class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">
        Email
      </label>
      <div *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched" class="text-red-500 text-sm mt-1">
        Email không hợp lệ.
      </div>
    </div>
    <div class="relative">
      <input type="text" id="phonenumber"  formControlName="phonenumber" class="peer block" placeholder=" " />
      <label
        for="phonenumber"
        class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">
        Số điện thoại
      </label>
    <div *ngIf="registerForm.get('phonenumber')?.errors?.['required'] && registerForm.get('phonenumber')?.touched" class="text-red-500 text-sm mt-1">
  Vui lòng nhập số điện thoại.
</div>
<div *ngIf="registerForm.get('phonenumber')?.errors?.['pattern'] && registerForm.get('phonenumber')?.touched" class="text-red-500 text-sm mt-1">
  Số điện thoại không hợp lệ (phải đủ 10 số, bắt đầu bằng 0).
</div>

    </div>
    <div class="relative">
      <input type="password" id="password" formControlName="password" class="peer block" placeholder=" " />
      <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors">
  <div *ngIf="registerForm.get('password')?.errors?.['required']" class="text-red-500 text-sm mt-1">Mật khẩu không được để trống.</div>
  <div *ngIf="registerForm.get('password')?.errors?.['minlength']" class="text-red-500 text-sm mt-1">Mật khẩu phải tối thiểu 6 ký tự.</div>
  <div *ngIf="registerForm.get('password')?.errors?.['pattern']" class="text-red-500 text-sm mt-1">
    Mật khẩu phải có ít nhất 1 chữ thường, 1 chữ hoa và 1 ký tự đặc biệt.
  </div>
</div>

      <label
        for="password"
        class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">
        Mật khẩu
      </label>
      <span class="text-muted-foreground absolute top-2 cursor-pointer ltr:right-3 rtl:left-3">
        <svg-icon src="assets/icons/heroicons/outline/eye-off.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        <svg-icon src="assets/icons/heroicons/outline/eye.svg" [svgClass]="'h-5 w-5 hidden'"> </svg-icon>
      </span>
     
    </div>
    
    <!-- Password Meeter -->
    <!-- <div class="grid grid-cols-4 gap-2">
      <div class="rounded-xs bg-muted h-1"></div>
      <div class="rounded-xs bg-muted h-1"></div>
      <div class="rounded-xs bg-muted h-1"></div>
      <div class="rounded-xs bg-muted h-1"></div>
    </div> -->
    <!-- <span class="text-muted-foreground text-xs">
      Use 8 or more characters with a mix of letters, numbers & symbols.
    </span> -->
    <div class="relative">
      <input type="password" id="confirm-password" formControlName="confirmPassword" class="peer block" placeholder=" " />
        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.touched" class="text-red-500 text-sm mt-1">
    Mật khẩu xác nhận không khớp.
  </div>
      <label
        for="confirm-password"
        class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">
        Confirm Password
      </label>
    </div>
  </div>

  

  <!-- Submit Button -->
  <div>
    <app-button type="submit" full impact="bold" tone="primary" shape="rounded" size="medium">Đăng ký</app-button>
  </div>

  <!-- Sign-up -->
  <div class="text-muted-foreground flex items-center text-sm">
    Bạn đã có tài khoản?
    <app-button [routerLink]="['auth/sign-in']" impact="none" tone="primary" shape="rounded" size="small">
      Đăng nhập
    </app-button>
  </div>
</form>
