
<div class="offers-container">
  <h2 class="section-title">ƯU ĐÃI ĐẶC BIỆT</h2>
  <div class="game-grid">
    <div *ngFor="let game of listGame" class="game-card" [routerLink]="['/dashboard/game-detail', game.Id]">
      <img [src]="game.InstallerFilePath" [alt]="game.Title" class="game-image">
      <div class="price-section">
        <!-- Hiển thị khi có giảm giá -->
        <ng-container *ngIf="game.DiscountPercent">
          <div class="discount-block">
            <div class="discount-badge">-{{ game.Price * game.DiscountPercent* 100 }}%</div>
            <div class="price-stack">
              <div class="original-price">{{ game.Price * game.DiscountPercent* 100 | currency:'VND' }}</div>
              <div class="final-price">{{ game.Price | currency:'VND' }}</div>
            </div>
          </div>
        </ng-container>
        <!-- Hiển thị khi không giảm giá -->
        <ng-container *ngIf="!game.DiscountPercent || game.DiscountPercent === 0">
          <div class="regular-price">
            {{ game.Price | currency:'VND' }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>