<div class="p-6 max-w-5xl mx-auto bg-white/90 shadow-2xl rounded-3xl backdrop-blur-md">
  <h1 class="text-3xl font-extrabold text-gray-800 mb-6">Quản lý tài khoản game</h1>
<div class="flex flex-wrap items-center gap-4 mb-6">
<!-- <button [routerLink]="['/dashboard/new-game']" class="inline-flex items-center gap-2 bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-full shadow transition-all cursor-pointer">
  <span class="text-lg">+</span> Thêm tài khoản
</button> -->
<div class="relative w-full max-w-xs">
    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
      <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" stroke-width="2"
           viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 104.5 4.5a7.5 7.5 0 0012.15 12.15z"></path>
      </svg>
    </span>
<!-- <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"
           placeholder="Tìm kiếm theo tên #"
           style="background-color: white;color:black"
           class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200 bg-white" /> -->
</div>
</div>
  <div class="overflow-x-auto rounded-xl shadow">
     
    <table class="min-w-full text-sm text-left text-gray-800">
      <thead class="bg-gray-100 text-gray-700 text-base">
        <tr>
          <th class="px-6 py-4">Mã SP</th>
          <th class="px-6 py-4">Tiêu đề</th>
          <th class="px-6 py-4">Giá</th>
          <th class="px-6 py-4">Thể Loại Game</th>
          <th class="px-6 py-4">Trạng Thái</th>
          <th class="px-6 py-4">Hành Động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of listGame" class="hover:bg-gray-100">
          <td class="px-6 py-4">{{ account.Id }}</td>
          <td class="px-6 py-4">{{ account.Title }}</td>
          <td class="px-6 py-4">{{ account.Price | number}} VND</td>
          <td class="px-6 py-4">{{ account.Genre }}</td>
         <td class="px-6 py-4">
  <!-- <label class="switch"> -->
            <span *ngIf="account.Status == 'Pending'">Đang chờ duyệt</span>
    <!-- <input type="checkbox" [(ngModel)]="account.IsActive" (change)="toggleStatus(account)">
    <span class="slider"></span> -->
  <!-- </label> -->
</td>

          <td class="px-6 py-4 text-sm">
            <!-- <button (click)="editAccount(account)" class="text-green-600 hover:underline font-medium cursor-pointer">Sửa |</button> -->
               <button (click)="onApproveGame(account)" class="text-blue-600 hover:underline font-medium cursor-pointer">      Duyệt Game </button>
              <button (click)="deleteGame(account)" class="text-red-600 hover:underline font-medium cursor-pointer"> | Xóa</button>
              
          </td>
        </tr>
      </tbody>
    </table>
     <div *ngIf="listGame.length === 0" class="text-center text-xl text-gray-500">
    <p>Chưa có yêu cầu!</p>
  </div>
  </div>

</div>
