<div class="relative flex items-center gap-3 ml-3" *ngIf="isLogin">
  <!-- Nút giỏ hàng -->
   <!-- Ví tiền -->
  <div *ngIf="isLogin && !isAdmin" class="flex items-center gap-1 bg-green-600 text-white px-2 py-1 rounded-full shadow-sm cursor-pointer" routerLink="/dashboard/wallet-request">
    <svg xmlns="http://www.w3.org/2000/svg"
         class="h-4 w-4"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor" 
         stroke-width="1.5">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="M21 12.79V8a2 2 0 00-2-2h-3.34a2 2 0 01-1.41-.59L12.34 4.1a2 2 0 00-1.41-.59H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1.21" />
      <path stroke-linecap="round" stroke-linejoin="round"
            d="M16 12h.01M19 15h-6a2 2 0 01-2-2V9a2 2 0 012-2h6a2 2 0 012 2v4a2 2 0 01-2 2z" />
    </svg>
    <span class="font-medium text-xs whitespace-nowrap">
      {{ myWallet.balance | number:'1.0-0' }} đ
    </span>
  </div>
  <button *ngIf="isLogin && !isAdmin"
    (click)="openCart()"
    class="relative flex h-9 w-9 items-center justify-center rounded-md bg-card text-muted-foreground hover:text-primary transition cursor-pointer"
    type="button"
  >
    <span class="sr-only">Open cart</span>
    <!-- SVG giỏ hàng -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="1.5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-1.5 6h11L17 13M9 21a1 1 0 100-2 1 1 0 000 2zm6 0a1 1 0 100-2 1 1 0 000 2z"
      />
    </svg>

    <!-- Badge số lượng -->
    <span
      *ngIf="cartItemCount > 0"
      class="absolute -top-1 -right-1 inline-flex items-center justify-center rounded-full bg-primary px-1.5 py-0.5 text-[10px] font-semibold leading-none text-white"
    >
      {{ cartItemCount }}
    </span>
  </button>
  <button (click)="toggleMenu()" class="bg-card relative flex rounded-full text-sm cursor-pointer" type="button" *ngIf="isLogin">
    <span class="sr-only">Open user menu</span>
    <img
      [routerLink]="['/dashboard/profile']" 
      clickOutside
      (clickOutside)="isOpen = false"
      class="size-9 shrink-0 rounded-md"
      [src]="img"
      alt="User Avatar"
    />
  </button>
  <div
    [@openClose]="isOpen ? 'open' : 'closed'"
    class="bg-background shadow-custom border-muted absolute z-20 mt-70 w-60 origin-top-right transform rounded-md border border-dashed py-4 ring-1 ring-transparent ring-opacity-5 transition focus:outline-hidden ltr:right-0 rtl:left-0">
    <div class="flext-row flex items-center px-4 pb-4">
      <div class="w-10 shrink-0">
        
        <img class="rounded-md" [src]="img" alt="" />
      </div>
      <div class="text-foreground overflow-hidden px-2 text-sm font-semibold">
        {{username}}
        <p class="text-muted-foreground truncate text-ellipsis text-xs font-semibold" title="{{email}}">
          {{email}}
        </p>
      </div>
    </div>
    <div class="border-border border-b border-dashed"></div>

    <ul class="my-2 mx-2 flex flex-col">
      <li [routerLink]="['/dashboard/profile']" class="text-muted-foreground hover:bg-card hover:text-primary inline-flex cursor-pointer items-center gap-2 rounded-md px-2 py-2 text-xs font-semibold cursor-pointer">
         <svg-icon src="./assets/icons/heroicons/outline/user-circle.svg" [svgClass]="'h-5 w-5 text-muted-foreground/50'"> </svg-icon>
        Hồ sơ của tôi
      </li>
      <li *ngIf="!isAdmin" class="text-muted-foreground hover:bg-card hover:text-primary inline-flex cursor-pointer items-center gap-2 rounded-md px-2 py-2 text-xs font-semibold cursor-pointer" (click)="history()">
         <svg-icon src="./assets/icons/heroicons/outline/download.svg" [svgClass]="'h-5 w-5 text-muted-foreground/50'"> </svg-icon>
        Game của bạn
      </li>
       <li *ngIf="!isAdmin" [routerLink]="['/dashboard/wallet-request']" class="text-muted-foreground hover:bg-card hover:text-primary inline-flex cursor-pointer items-center gap-2 rounded-md px-2 py-2 text-xs font-semibold cursor-pointer">
         <svg-icon src="./assets/icons/heroicons/outline/cog.svg" [svgClass]="'h-5 w-5 text-muted-foreground/50'"> </svg-icon>
       Nạp/Rút
      </li>
      <li [routerLink]="['/auth/sign-in']" class="text-muted-foreground hover:bg-card hover:text-primary inline-flex cursor-pointer items-center gap-2 rounded-md px-2 py-2 text-xs font-semibold cursor-pointer" (click)="logout()">
         <svg-icon src="./assets/icons/heroicons/outline/logout.svg" [svgClass]="'h-5 w-5 text-muted-foreground/50'"> </svg-icon>
       Đăng xuất
      </li>
      <li class="text-muted-foreground hover:bg-card hover:text-primary inline-flex cursor-pointer items-center gap-2 rounded-md px-2 py-2 text-xs font-semibold cursor-pointer">
     
      </li>
    </ul>
  </div>
</div>
<div class="relative flex items-center gap-3 ml-3" *ngIf="!isLogin"> 
  <button (click)="onRegisterpage()"
    class="mr-2 inline-flex rounded-md px-10 py-1 text-sm font-medium bg-green-600 text-white cursor-pointer" *ngIf="!isLogin">
    <span>Đăng ký</span>
  </button>
 <button (click)="onloginPage()" *ngIf="!isLogin"
    class="mr-2 inline-flex rounded-md px-10 py-1 text-sm font-medium text-white cursor-pointer" style="color:white; background-color: rgb(54, 116, 171);">
    <span>Đăng nhập</span>
  </button>
</div>