<div class="p-6 max-w-5xl mx-auto bg-white/90 shadow-2xl rounded-3xl backdrop-blur-md">
  <h1 class="text-3xl font-extrabold text-gray-800 mb-6">Quản lý người dùng</h1>
<div class="flex flex-wrap items-center gap-4 mb-6">
  <!-- <button  class="inline-flex items-center gap-2 bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-full shadow transition-all cursor-pointer" [routerLink]="['/dashboard/manager-user/add-user']">
    <span class="text-lg">+</span> Thêm người dùng
  </button> -->
  <div class="relative w-full max-w-xs">
    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
      <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" stroke-width="2"
           viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 104.5 4.5a7.5 7.5 0 0012.15 12.15z"></path>
      </svg>
    </span>
    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"
           placeholder="Tìm kiếm theo tên #"
           style="background-color: white;color: black;font-size: 18px;"
           class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200 bg-white" />
  </div>
</div>
  <div class="overflow-x-auto rounded-xl shadow">
    <table class="min-w-full text-sm text-left text-gray-800">
      <thead class="bg-gray-100 text-gray-700 text-base">
        <tr>
     
          <th class="px-6 py-4">Tên</th>
          <th class="px-6 py-4">Email</th>
          <th class="px-6 py-4">Số điện thoại</th>
          <th class="px-6 py-4">Quyền</th>
          <th class="px-6 py-4">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of paginatedUsers" class="border-b hover:bg-gray-50">
        
          <td class="px-6 py-4">{{ user.UserName }}</td>
          <td class="px-6 py-4">{{ user.Email }}</td>
          <td class="px-6 py-4">{{ user.PhoneNumber }}</td>
            <td class="px-6 py-4">{{ user.Role[0] }}</td>
          <td class="py-4 px-6 text-center space-x-2">
            <button class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600 cursor-pointer" (click)="onDetailPages(user)">Sửa</button>
            <button class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 cursor-pointer">Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <div class="flex justify-center mt-6">
    <button 
      class="bg-gray-500 text-white px-4 py-2 rounded-l-md hover:bg-gray-600"
      [disabled]="currentPage === 1"
      (click)="changePage(currentPage - 1)">Trước</button>
    
    <span class="px-4 py-2 text-white">Trang {{ currentPage }} / {{ totalPages }}</span>

    <button 
      class="bg-gray-500 text-white px-4 py-2 rounded-r-md hover:bg-gray-600"
      [disabled]="currentPage === totalPages"
      (click)="changePage(currentPage + 1)">Sau</button>
  </div>
</div>
