/* Style cho thanh trượt */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Style cho slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Màu mặc định */
  transition: 0.4s;
  border-radius: 34px;
}

/* Phần trong của slider (chỗ thanh trượt) */
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

/* Khi trạng thái active */
.slider.active {
  background-color: #4CAF50; /* Màu xanh cho active */
}

/* Khi trạng thái banned */
.slider.banned {
  background-color: black; /* Màu đỏ cho banned */
}

/* Khi checkbox được chọn, thanh trượt sẽ di chuyển sang phải */
input:checked + .slider:before {
  transform: translateX(14px);
}
