<div class="p-6 max-w-5xl mx-auto bg-white/90 shadow-2xl rounded-3xl backdrop-blur-md">
  <h1 class="text-3xl font-extrabold text-gray-800 mb-6">Quản lý người dùng</h1>

  <button  class="mb-6 inline-flex items-center gap-2 bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-full shadow transition-all cursor-pointer">
    <span class="text-lg">+</span> Thêm người dùng
  </button>

  <div class="overflow-x-auto rounded-xl shadow">
    <table class="min-w-full text-sm text-left text-gray-800">
      <thead class="bg-gray-100 text-gray-700 text-base">
        <tr>
     
          <th class="px-6 py-4">Tên</th>
          <th class="px-6 py-4">Email</th>
          <th class="px-6 py-4">Số điện thoại</th>
          <th class="px-6 py-4">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of paginatedUsers" class="border-b hover:bg-gray-50">
        
          <td class="px-6 py-4">{{ user.UserName }}</td>
          <td class="px-6 py-4">{{ user.Email }}</td>
          <td class="px-6 py-4">{{ user.PhoneNumber }}</td>
          <td class="py-4 px-6 text-center space-x-2">
            <button class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600 cursor-pointer" (click)="onDetailPages(user)">Sửa</button>
            <button class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 cursor-pointer">Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <div class="flex justify-center mt-6">
    <button 
      class="bg-gray-500 text-white px-4 py-2 rounded-l-md hover:bg-gray-600"
      [disabled]="currentPage === 1"
      (click)="changePage(currentPage - 1)">Trước</button>
    
    <span class="px-4 py-2 text-white">Trang {{ currentPage }} / {{ totalPages }}</span>

    <button 
      class="bg-gray-500 text-white px-4 py-2 rounded-r-md hover:bg-gray-600"
      [disabled]="currentPage === totalPages"
      (click)="changePage(currentPage + 1)">Sau</button>
  </div>
</div>
