
<div class="nft-page-container">
  

  <app-nft-header></app-nft-header>


  <div *ngIf="isLoading" class="loading-placeholder">
    Đang tải...
  </div>

  <div *ngIf="!isLoading">


    <app-featured-carousel 
      *ngIf="featuredGames.length > 0"
      [games]="featuredGames">
    </app-featured-carousel>
    

    <app-special-offers
      *ngIf="specialOfferGames.length > 0"
      [games]="specialOfferGames">
    </app-special-offers>

    <app-community-recommends></app-community-recommends>
    
    <app-category-browser></app-category-browser>
    
    <app-because-you-played></app-because-you-played>
 
    <div class="keep-scrolling">
      <div class="scroll-icon"></div>
      <p>Keep scrolling for more recommendations</p>
      <span>Below you'll find a variety of titles that you may be interested in from categories across Steam</span>
    </div>

  </div>
</div>