
<div class="nft-page-container">
    <app-nft-header></app-nft-header>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 mb-8">
    <!-- Dual Card -->
    <div *ngIf="nft.length > 0" nft-dual-card [nft]="nft[0]" class="md:col-span-2"></div>
    
    <!-- Single Card -->
    <div *ngIf="nft.length > 1" nft-single-card [nft]="nft[1]"></div>
    
    <!-- Single Card -->
    <div *ngIf="nft.length > 2" nft-single-card [nft]="nft[2]"></div>
  </div>


  <app-community-recommends></app-community-recommends>

  <app-category-browser></app-category-browser>

  <app-because-you-played></app-because-you-played>
  

  <div class="keep-scrolling">
    <div class="scroll-icon"></div>
    <p>Keep scrolling for more recommendations</p>
    <span>Below you'll find a variety of titles that you may be interested in from categories across Steam</span>
  </div>
</div>