<div class="flex h-screen w-full overflow-hidden">
  <!-- Sidebar -->
  <div *ngIf="isLog && isAdmin" >
    <app-sidebar></app-sidebar>
  </div>

  <div class="flex grow flex-col content-start overflow-hidden" style="background: linear-gradient(135deg, #1b2838 0%, #2a475e 50%, #1b2838 100%);">
    <!-- Header -->
    <app-navbar></app-navbar>
    <!-- main content -->
    <div
      id="main-content"
      class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
      <div class="mx-auto px-4 py-4 sm:px-8 lg:container">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- footer -->
    <app-footer></app-footer>

    <!-- Bottom bar -->
    <!-- <app-bottom-navbar></app-bottom-navbar> -->
  </div>
</div>
