
.loader {
  border: 8px solid #374151; /* bg-gray-700 */
  border-top: 8px solid #3b82f6; /* bg-blue-500 */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}


.button-loader {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.image-preview-container {
  width: 100%;
  aspect-ratio: 4 / 5; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.3s ease-in-out;
}

.image-preview:hover {
  transform: scale(1.05);
}
  .file-upload-btn {
    width: 100%;
    height: 35px;
    z-index: 9;
    opacity: 0;
  }
  .delete-file {
    position: absolute;
    right: 50px;
    top: 8px;
    font-size: 16px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 99;
    visibility: hidden;
  }
  &:hover .delete-file {
    visibility: visible;
  }


.has-success .input-group-prepend,
.has-success .input-group-append,
.has-success .input-group-prepend .input-group-text,
.has-success .input-group-append .input-group-text {
 color: green;
  border-color: orange;
  background-color: #eaf6ea;
}
.has-danger .input-group-prepend,
.has-danger .input-group-append,
.has-danger .input-group-prepend .input-group-text,
.has-danger .input-group-append .input-group-text {
  color: green;
  border-color: orange;
  background-color: #fdf7f7;
}
/* styles.css or component-specific CSS */
.mat-select-panel {
  max-height: 70px !important; /* Thay đổi chiều cao tối đa theo nhu cầu */
  overflow-y: auto;  /* Thêm thanh cuộn dọc */
}
.mat-mdc-option.mdc-list-item {
  height: 40px !important;
  overflow-y: auto !important;
  background-color:white !important
}