
.loader {
  border: 8px solid #374151; /* bg-gray-700 */
  border-top: 8px solid #3b82f6; /* bg-blue-500 */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}


.button-loader {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.image-preview-container {
  width: 100%;
  aspect-ratio: 4 / 5; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.3s ease-in-out;
}

.image-preview:hover {
  transform: scale(1.05);
}